################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataAccessLayer/obj
/Whimsiblog/obj
/Whimsiblog/bin/Debug/net8.0
/.gitignore
