bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
/DataAccessLayer/Migrations
# build output
**/bin/
**/obj/
*.dll
*.pdb
*.deps.json
*.exe
*.cache
/Whimsiblog/obj/Debug/net8.0/Whimsiblog.AssemblyInfo.cs
/Whimsiblog/obj/Debug/net8.0/Whimsiblog.AssemblyInfoInputs.cache
