html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Suggestions container */
#tagSuggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

/* Tag suggestion items */
.suggestion-item,
.no-match {
    padding: 8px;
    cursor: pointer;
    background-color: white;
}

    .suggestion-item:hover {
        background-color: #f0f0f0;
    }

/* "Add New Tag" button */
.add-new-tag-btn {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

    .add-new-tag-btn:hover {
        background-color: #0056b3;
    }

/* Error message */
.error {
    color: red;
    padding: 8px;
}
